
@{
    ViewBag.Title = "Home - RS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container">
    <div class="row">
        <!-- COLUNA ESQUERDA -->
        <div class="col-lg-2 order-lg-0 col-md-6 order-md-1 col-sm-6 order-sm-1">
        </div>
        <!-- COLUNA CENTRAL -->
        <div class="col-lg-8 order-lg-1 col-md-12 order-md-0 col-sm-12 order-sm-0">
        </div>
        <!-- COLUNA DIREITA -->
        <div class="col-lg-2 order-lg-2 col-md-6 order-md-2 col-sm-6 order-sm-0">
        </div>
    </div>
</div>








