@model ProdutoModel

@{
    ViewBag.Title = "Home - RS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <button class="btn btn-primary" href="/Produto/ProdutoNew">Novo Produto</button>

    @Html.HiddenFor(k=>k.IdProduto)

    <div class="row">

    </div>

</div>
