<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ProSoft Informática</title>

    <script src="~/Scripts/jquery-3.7.0.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/Content/bootstrap-5.3.1-dist/css/bootstrap.min.css" />

    <script src="~/Scripts/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap-5.3.1-dist/js/bootstrap.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/Content/fontawesome-free-6.4.2-web/css/all.css" />

    <!-- SITE DEFAULTS -->
    <script type="text/javascript" src="~/Scripts/site.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css" />

    <!-- INPUTMASK -->
    <script type="text/javascript" src="~/Scripts/inputmask/jquery.inputmask.js"></script>
    <script type="text/javascript" src="~/Scripts/inputmask/bindings/inputmask.binding.js"></script>

    @RenderSection("scripts", required: false)

</head>
 
<body class="bg-body-secondary">

	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" data-bs-theme="dark">
		<div class="container-fluid py-0">
			<a class="navbar-brand" href="#"><i class="fa fa-house"></i></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#camaraMainNavbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="camaraMainNavbar">

				<ul class="navbar-nav me-auto text-center">

					<!--CADASTROS-->
					<li class="nav-item dropdown">
						<a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastros</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="Url.Action()" target="_blank">Clientes</a></li>
							<li><a class="dropdown-item" href="#" target="_blank">Fornecedores</a></li>
							<li><a class="dropdown-item" href="/Produto/Produtos" target="_self">Produtos</a></li>
							<li><a class="dropdown-item" href="Url.Action()" target="_blank">Grupos</a></li>
						</ul>
					</li>

					<!--MOVIMENTOS-->
					<li class="nav-item dropdown">
						<a href="#" class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Movimentações</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="Url.Action()" target="_blank">Vendas</a></li>
							<li><a class="dropdown-item" href="Url.Action()" target="_blank">Aquisições</a></li>
							<li><a class="dropdown-item" href="Url.Action()" target="_blank">Ordens de Serviço</a></li>
							<li><a class="dropdown-item" href="Url.Action()" target="_blank">Contas a Pagar</a></li>
							<li><a class="dropdown-item" href="/Home/Eleicao" target="_blank">Contas a Receber</a></li>
						</ul>
					</li>

				</ul>

				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Buscar no site" id="inputSearch" aria-label="Search">
					<button class="btn btn-success text-white" type="submit" onclick="search()"><span class="fa fa-magnifying-glass"></span></button>
				</form>

			</div><!-- /.navbar-collapse -->
		</div>
	</nav>

	@RenderBody()

	<!--footer-->
	<div id="footer" style="text-align:center">
		&copy; 2023 - ProSoft Informática - Todos os direitos reservados.
	</div>


</body>
</html>

